<?xml version="1.0"?>
<configuration>
  <system.webServer>
   <rewrite>
    <rules>
        <rule name="rule 1m" stopProcessing="true">
            <match url="^index\.php$"  />
            <action type="Rewrite" url="/api/"  />
        </rule>
    </rules>
   </rewrite>
  </system.webServer>
</configuration>